mixin acquisition
  section.acquisition(id="acquisition")
    .acquisition-divider

    .acquisition-header
      h2.acquisition-title Коллекционерам и Дизайнерам
      p.acquisition-intro
        | Арт-дизайн для интерьеров высокой сложности. Под брендом&nbsp;
        span.Acquisition-brand INVESTME ART DESIGN
        | &nbsp;мы создаем объекты, адаптируемые под архитектурное пространство любого масштаба.

    .acquisition-options
      .acquisition-option
        h3.acquisition-option__title Оригиналы
        p.acquisition-option__text Уникальные полотна из выставочной серии. Каждая работа существует в единственном экземпляре или лимитированном тираже с сертификацией.

      .acquisition-option
        h3.acquisition-option__title Адаптация
        p.acquisition-option__text Возможность изменения формата и масштабирования работ под конкретный интерьерный запрос без потери художественной ценности.

      .acquisition-option
        h3.acquisition-option__title Сотрудничество
        p.acquisition-option__text Мы открыты к работе с архитекторами и дизайнерами интерьеров. Индивидуальные условия подбора и интеграции искусства в проект.

    .acquisition-actions
      a.acquisition-btn.button(href="#") Запросить каталог

    .acquisition-divider