mixin concept
  section.concept.container(id="concept")
    .concept__container
      //.concept__label концепция
      h2.concept__title Философия проекта
      .concept__icon
        img(src="images-min/bear_bull.png" alt="Bull and Bear icon")
      .concept__content
        blockquote.concept__quote
          p «Рынок акций безумен», — Уоррен Баффет.
        .concept__text
          p Проект «The Magical Shine of Financial Bubbles» — это исследование того, как сухая математика рынков трансформируется в иррациональную человеческую драму. Мы не иллюстрируем экономику; мы переводим её на язык визуальной метафоры.
          p На пересечении искусства, психологии и экономической истории мы создаем объекты, которые фиксируют архитектуру человеческих желаний: от Тюльпаномании XVII века до цифровой эфемерности Биткоина. Это искусство для тех, кто ищет интеллектуальную глубину в интерьере.