mixin header
  header.header(id="header")
    .header__container
      a.header__logo(href="#hero") INVESTME
      nav.header__nav
        a.header__link(href="#interier") Интерьер
        a.header__link(href="#concept") Концепция
        a.header__link(href="#provenance") Признание
        a.header__link(href="#works") Работы
        a.header__link(href="#acquisition") Коллекционерам
        a.header__link(href="#about") Об авторе
        a.header__link(href="#feedback") Заказ