mixin interier
  section.interier(id="interier")
    .interier__header
      //.interier__icon
        img(src="img/icon.jpg" alt="Bull & Bear" draggable="false")
      h2.interier__title Искусство в интерьере
      p.interier__subtitle Картины органично интегрируются в архитектурную среду, становясь смысловым центром пространства
    
    .interier__slider
      .interier__track
        .interier__slide
          .interier__image-wrapper
            img(src="images-min/interier/interier-1.jpg" alt="interier view" draggable="false")
        .interier__slide
          .interier__image-wrapper
            img(src="images-min/interier/interier-2.jpg" alt="interier view" draggable="false")
        .interier__slide
          .interier__image-wrapper
            img(src="images-min/interier/interier-3.jpg" alt="interier view" draggable="false")
        .interier__slide
          .interier__image-wrapper
            img(src="images-min/interier/interier-4.jpg" alt="interier view" draggable="false")
        .interier__slide
          .interier__image-wrapper
            img(src="images-min/interier/interier-5.jpg" alt="interier view" draggable="false")
        .interier__slide
          .interier__image-wrapper
            img(src="images-min/interier/interier-6.jpg" alt="interier view" draggable="false")
      
      .interier__progress
        .interier__progress-bar
          .interier__progress-fill
        .interier__counter
          span.interier__counter-current 01
          span.interier__counter-divider /
          span.interier__counter-total 00