mixin provenance
  section.provenance(id="provenance")
    .provenance__container
      .provenance__header
        h2.provenance__title Экспозиция и признание
        p.provenance__intro Проект получил экспертное признание и&nbsp;прошёл проверку институциональными площадками.
      .provenance__slider-wrapper
        .provenance__slider(data-slider="provenance")
          .provenance__item
            .provenance__item-image
              img(src="images-min/provenance/petrova.jpg" alt="Аудитория выставки")
            .provenance__item-content
              span.provenance__item-label Аудитория
              p.provenance__item-text Более 2&nbsp;000 посетителей на&nbsp;знаковых мероприятиях.
          .provenance__item
            .provenance__item-content
              span.provenance__item-label Медиа-присутствие
              p.provenance__item-text Освещение в&nbsp;прайм-тайм на&nbsp;федеральных каналах и&nbsp;публикация в&nbsp;ведущих профильных изданиях.
            .provenance__item-image
              img(src="images-min/provenance/skulskaia.jpg" alt="Аудитория выставки")
          .provenance__item
            .provenance__item-image
              img(src="images-min/provenance/brics.jpg" alt="Аудитория выставки")
            .provenance__item-content
              span.provenance__item-label Экспертный совет
              p.provenance__item-text Высоко оценён искусствоведами Мариной Скульской и&nbsp;Татьяной Petrova (Союз дизайнеров РФ).
          .provenance__item
            .provenance__item-content
              span.provenance__item-label Партнёры
              p.provenance__item-text Международный юридический форум, юридическое бюро «Справедливость», Холдинг «Созвездие».
            .provenance__item-image
              img(src="images-min/provenance/skulskaia.jpg" alt="Аудитория выставки")